@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	color: #000a16;
	font-family: Lora, serif;
	font-size: 2vh;
	line-height: 3vh;
}

nav{
		    	text-align: center;
		    	width: 20%; 
		    	margin-left: 80%;
		    	position: fixed;
	top: 10px;
	left: 10px;
	font-family: Poppins, sans-serif;
	font-size: 2vh;
	line-height: 3vh;
	text-decoration: none;
		    }

nav > a:not(:first-of-type) {
	border-left: solid 2px white;
}

nav > a:first-of-type {
	width: 2.4vw;
}

nav > a:hover {
	opacity: 0.95;
}

nav>a:not(:last-of-type) {
    padding: 2px 4px;
	opacity: 0;
	}