@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	color: #000a16;
	font-family: Lora, serif;
	font-size: 2vh;
	line-height: 3vh;
}

nav{
		    	text-align: center;
		    	width: 100%; 
		    	margin-left: 90%;
		    	position: fixed;
	top: 10px;
	left: 10px;
	font-family: Poppins, sans-serif;
	font-size: 2vh;
	line-height: 3vh;
	background-color: lightgrey;
	opacity: 0;
		    }

a{
	display: block; width: 5vw; height: 25px; line-height: 25px;
}

a:first-of-type {
	width: 10vw;
}

nav > a{
	
	text-decoration: none;

}

nav > a:visited {
	
	text-decoration: none;

}

nav > a:not(:first-of-type) {
	opacity: 0;
	}
nav:hover > a{
	opacity: 1;
}